/node_modules/

dist/
out-tsc/
coverage/
build/

src/environments/*.ts

.env
.env.local
.env.*.local

.vscode/
.idea/
.DS_Store

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tmp/
temp/

!**/*.spec.ts
!**/tests/

Thumbs.db

text.txt 
package-lock.json


